.intro {
    width: 100vw;
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
}
.intro-content {
    transition: all .5s ease-in-out;
    background-color: white;
    text-align: center;
    min-height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.intro-content.loading {
    min-height: 10vh;
}
.intro-content > p {
    width: 100%;
    font-size: 2rem;
}
.character {
    display: flex;
    justify-content: center;
}
.countdown {
    font-size: 1rem;
}
.title {
    font-size: 2rem;
}